* {
  font-family: 'Press Start 2P', cursive;
}

#top, #bottom, #left, #right {
  background: #141414;
	position: fixed;
}

#left, #right {
	top: 0; bottom: 0;
	width: 40px;
}

#left { 
  left: 0; 
}

#right { 
  right: 0; 
}

#top, #bottom {
	left: 0; right: 0;
	height: 40px;
}

#top { 
  top: 0; 
}

#bottom { 
  bottom: 0; 
}

/* No border for smaller screens*/
@media 
/* Fairly small screens including iphones */
only screen and (max-width: 500px),
/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px) 
{
	#top, #bottom, #left, #right { display: none; }
}

html {
  background-color: rgb(96, 216, 224);
  /* border: inset 50px;
  margin: 0px;
  height: 100%; */
}

body {
  margin: 0;
  /* min-height: 100%;
  overflow: scroll; */
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* 350px 320px 200px; */
  margin: 60px;
}

.left-column {
  display: flex;
  flex-direction: column;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-board {
  display: flex;
  flex-direction: column;
  border: solid 2px rgb(141, 138, 138);
  border-radius: 5px;
  background-color: #252525;
}

.play-button {
  background-color: #4caf50;
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
}

#pause-btn {
  display: none;
}

#sound-speaker{
  font-size:30px;
}

.sound-item{
  cursor:pointer;
}

footer {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 25px;
}