* {
    font-family: 'Press Start 2P', cursive;
}

#top, #bottom, #left, #right {
    background: #383838;
	position: fixed;
}

#left, #right {
	top: 0; bottom: 0;
	width: 40px;
}

#left { 
    left: 0; 
}

#right { 
    right: 0; 
}

#top, #bottom {
	left: 0; right: 0;
	height: 40px;
}

#top { 
    top: 0;
    border-top: 40px solid #222222;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    height: 0;
    width: auto;
}

#bottom { 
    bottom: 0; 
    border-bottom: 40px solid #222222;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    height: 0;
    width: auto;
}

/* No border for smaller screens*/
@media 
/* Fairly small screens including iphones */
only screen and (max-width: 500px),
/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px) 
{
	#top, #bottom, #left, #right { display: none; }
    
    #utilIns, #gameIns {
        clear: both;
        margin: 50px;
        font-size: 15px;
    }
}

html {
    background-color: rgb(107, 193, 199);
}

body {
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 60px;
}

.left-column {
    display: flex;
    flex-direction: column;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-board {
    display: flex;
    flex-direction: column;
    border: solid 2px rgb(141, 138, 138);
    border-radius: 5px;
    background-color: #3d3d3d;
}

#next {
    border: solid 2px rgb(141, 138, 138);
    border-radius: 5px;
    background-color: #3d3d3d;
}

.play-button {
    background-color: #4caf50;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
}

#pause-btn {
    display: none;
}

footer {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

#utilIns {
    float: left;
    margin-left: 100px;
}

#gameIns {
    float: right;
    margin-right: 100px;
}